<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <style>
        .align-left { text-align: left; }
        .align-center { text-align: center; }
        .align-right { text-align: right; }
        .align-justify { text-align: justify; }
    </style>
    <title>프로젝트 올리기</title>
</head>
<body>

<form th:action th:object="${itemDTO}" method="post">
    <div>
        <label for="itemtitle">프로젝트명</label>
        <input type="text" id="itemtitle" th:field="*{itemTitle}" >
        <p th:errors="*{itemTitle}"></p>
    </div>
    <div>
        이미지첨부<input type="file" name="file">
    </div>
    <div>
        <label for="itemcontent">내용</label>
        <input type="text" id="itemcontent" th:field="*{itemContent}">
        <p th:errors="*{itemContent}"></p>
    </div>
    <button>프로젝트 등록</button>
</form>
<button th:onclick="|location.href='@{/}'|">취소</button>
</body>
</html>