<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>프로젝트 올리기</title>
</head>
<body>
<form th:action th:object="${itemDTO}" method="post">
    <input type="hidden">

    <div>
        <label for="itemtitle">프로젝트명</label><br>
        <textarea id="itemtitle"  cols="55" rows="2" maxlength="100" th:field="*{itemTitle}"/>
        <p th:errors="*{itemTitle}"></p>
    </div>
    <div>
        이미지첨부<input type="file" multiple="multiple">
    </div>
    <div>
        <label for="itemcontent">내용</label><br>
        <textarea id="itemcontent" cols="55" rows="10" th:field="*{itemContent}"/>
        <p th:errors="*{itemContent}"></p>
    </div>
    <div>
        <label for="targetamount">목표금액</label><br>
        <input type="text" id="targetamount" th:field="*{targetAmount}"/>
        <p th:errors="*{targetAmount}"></p>
    </div>
    <div>
        목표기간
        <input type="text" th:field="*{targetPeriod}" class="datepicker"/>
        <script>
            $(function(){
              $('.datepicker').datepicker();
            })
        </script>
        <p th:errors="*{targetPeriod}"></p>
    </div>
    <button>프로젝트 등록</button>
</form>
<button th:onclick="|location.href='@{/}'|">취소</button>
</body>
</html>