<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>회원가입</title>
</head>
<body>

    <h3>회원가입 페이지입니다.</h3>

    <form th:action th:object="${userDTO}" method="post">
        <div>
        로그인<input type="text" th:field="*{id}">
        <p th:errors="*{id}"></p>
        </div>
        <div>
        비밀번호<input type="password" th:field="*{password}">
        <p th:errors="*{password}"></p>
        </div>
        <div>
        이름<input type="text" th:field="*{userName}">
        <p th:errors="*{userName}"></p>
        </div>
        <div>
        전화번호<input type="text" th:field="*{tel}">
        <p th:errors="*{tel}"></p>
        </div>
        <div>
        이메일<input type="text" th:field="*{email}">
        <p th:errors="*{email}"></p>
        </div>
        <button>회원가입</button>

        <button th:onclick="location.href=@{mainview}">가입취소</button>
    </form>

</body>
</html>