<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>회원가입</title>
</head>
<body>

    <h3>회원가입 페이지입니다.</h3>
    <form th:action th:object="${createUserDTO}" method="post">

        <div>
            <label for="id">아이디</label>
            <input type="text" id="id" th:field="*{userId}">
            <p th:errors="*{userId}"></p>

            <button>중복체크</button>
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{userPassword}">
            <p th:errors="*{userPassword}"></p>
        </div>
        <div>
            <label for="passwordvalid">비밀번호 재확인</label>
            <input type="password" id="passwordvalid" th:field="*{passwordValid}">
            <p th:errors="*{passwordValid}"></p>
        </div>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <div>
            <label for="username">이름</label>
            <input type="text" id="username" th:field="*{userName}">
            <p th:errors="*{userName}"></p>
        </div>
        <div>
            <label for="tel">전화번호</label>
            <input type="text" id="tel" th:field="*{userTel}">
            <p th:errors="*{userTel}"></p>
        </div>
        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" th:field="*{userEmail}">
            <p th:errors="*{userEmail}"></p>
        </div>
            <button>회원가입</button>
    </form>
    <button th:onclick="|location.href='@{/}'|">가입취소</button>
</body>
</html>